{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Create New Discussion</title>
  <link rel="stylesheet" href="{% static 'Main/css/styles.css' %}">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="{% url 'dashboard' %}">
        <img class="nav-logo" src="{% static 'Main/images/nav-utrgv.png' %}"/>
      </a>
      <nav class="main-nav">
        <a href="{% url 'dashboard' %}" class="nav-link active">Home</a>
        <a href="{% url 'discussion' %}" class="nav-link">Discussion Boards</a>
        <a href="{% url 'groupchat' %}" class="nav-link">Join Group Chats</a>
        <a href="#" class="nav-link">AI Help</a>
      </nav>
      <div class="user-profile">
        <a href="{% url 'settings' %}">
        <img class="avatar" src="{{profile.profile_picture.url}}"/>
        </a> 
        <span class="username">{{user.username}}</span>
      </div>
    </div>
  </header>
  <div class="form-container">
    <h2>Create a New Discussion</h2>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Enter discussion title" required />
      <button type="submit">Create</button>
    </form>
    <a href="{% url 'discussion' %}">Back to discussions</a>
  </div>
  <footer>
    {% include 'Main/chatbot.html' %}
  </footer>
</body>
</html>
