{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
  <title>Discussion Boards | UTRGV Forum</title>
  <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800;900&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'Main/css/styles.css' %}">
</head>
<body>

<header>
  <div class="header-container">
    <a href="{% url 'dashboard' %}">
      <img class="nav-logo" src="{% static 'Main/images/nav-utrgv.png' %}"/>
    </a>
    <nav class="main-nav">
      <a href="{% url 'dashboard' %}" class="nav-link active">Home</a>
      <a href="{% url 'discussion' %}" class="nav-link">Discussion Boards</a>
      <a href="{% url 'groupchat' %}" class="nav-link">Join Group Chats</a>
      <a href="#" class="nav-link">AI Help</a>
    </nav>
    <div class="user-profile">
      <a href="{% url 'settings' %}">
        <img class="avatar" src="{{profile.profile_picture.url}}"/>
      </a>
        <span class="username">{{user.username}}</span>
    </div>
  </div>
</header>
<br>

<div class="discussion-container">
  <h2 class="discussion-title">Discussion Boards</h2>
  <div class="discussion-grid">
    {% for d in discussions %}
      <a href="{% url 'discussion_detail' d.pk %}" class="discussion-card">
        <h3>{{ d.title }}</h3>
        <p>{{ d.comments.count }} comments</p>
      </a>
    {% endfor %}
  </div>
  <div class="create-discussion-button">
    <a href="{% url 'creatediscussion' %}" class="button">+ Start New Discussion</a>
  </div>
</div>
<footer>
  {% include 'Main/chatbot.html' %}
</footer>
</body>
</html>