{% load static %}
<!DOCTYPE html>
<html>

  <head>
    <title>Settings Page</title>
    <link rel="stylesheet" href="{% static 'Main/css/settings.css' %}" />
  </head>

  <body>
    <header>
      <div class="header-container">

        <a href="{% url 'dashboard' %}">
          <img class="nav-logo" src="{% static 'Main/images/nav-utrgv.png' %}" />
        </a>

        <nav class="main-nav">
          <a href="{% url 'dashboard' %}" class="nav-link active">Home</a>
          <a href="{% url 'discussion' %}" class="nav-link">Discussion Boards</a>
          <a href="{% url 'groupchat' %}" class="nav-link">Join Group Chats</a>
          <a href="#" class="nav-link">AI Help</a>
        </nav>

        <div class="user-profile">
          <a href="{% url 'settings' %}">
          <img class="avatar" src="{{profile.profile_picture.url}}" />
          </a>
          <span class="username">{{ user.username }}</span>
        </div>
      </div>
    </header>
    <div class="layout-container">
      <aside class="left-sidebar">
        <div class="sidebar-menu">
          <button class="sidebar-btn active">
            <img class="btn-icon" src="{% static 'Main/images/home-icon.png' %}" />
            Home
          </button>
          <button class="sidebar-btn">
            <img class="btn-icon" src="{% static 'Main/images/setting-icon.png' %}" />
            Setting
          </button>
          <button class="sidebar-btn" onclick="window.location.href='{% url 'home' %}'">
            <img class="btn-icon" src="{% static 'Main/images/logout-icon.png' %}" />
            Log out
          </button>
        </div>
      </aside>

    <main class="main-content">
      <form method="POST">
          {% csrf_token %}
          <div class="top-info">
            <div class="user-info">
              <img class="settings-avatar" src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
              <div class="user-info-text">
                <p class="user-name">{{ user.first_name }} {{ user.last_name }}</p>
                <p class="user-email">{{ user.email }}</p>
              </div>
            </div>
            <button class="edit-btn">Edit</button>
          </div>


          <div class="middle-section">
            <div class="info-containers">
              <div class="profile-pref">
                <div class="text-class">First Name</div>
                <input name="first_name" value="{{ user.first_name }}" class="text-box-classes" placeholder="Enter First Name">
              </div>
              <div class="profile-pref">
                <div class="text-class">Last Name</div>
                <input name="last_name" value="{{ user.last_name }}" class="text-box-classes" placeholder="Enter Last Name">
              </div>
            </div>

            <div class="info-containers">
              <div class="profile-pref">
                <div class="text-class">Gender</div>
                <select name="gender" class="drop-down-class">
                  <option value="" disabled {% if not profile.gender %}selected{% endif %}>Select Gender</option>
                  <option value="Male" {% if profile.gender == "Male" %}selected{% endif %}>Male</option>
                  <option value="Female" {% if profile.gender == "Female" %}selected{% endif %}>Female</option>
                </select>
              </div>
              <div class="profile-pref">
                <div class="text-class">Short Bio/Current Status</div>
                <input name="bio" value="{{ profile.bio }}" class="text-box-classes" placeholder="Enter Bio">
              </div>
            </div>

            <div class="info-containers">
              <div class="profile-pref">
                <div class="text-class">Major</div>
                <input name="major" value="{{ profile.major }}" class="text-box-classes" placeholder="Enter Major">
              </div>
              <div class="profile-pref">
                <div class="text-class">Minor</div>
                <input name="minor" value="{{ profile.minor }}" class="text-box-classes" placeholder="Enter Minor (optional)">
              </div>
            </div>
            

          <div class="bottom-section">
            <div class="email-class">Your Email Address</div>
            <div class="email-container">
              <img class="email-icon" src="{% static 'Main/images/email-icon.png' %}">
              <div class="email-txt">{{ user.email }}</div>
            </div>
            <div class="submit-container">
              <button class="submit-btn" type="submit" >Save Changes</button>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>
</html>